$blue: #61c4d9;
$green: #0f5a47;
$grey: #f2f5f4;
$dark-grey: #666666;

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  @include tablets {
    font-size: 15px;
  }
  @include phones {
    font-size: 14px;
  }
}

body {
  font-family: 'Alegreya Sans';
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  transition: transform 1s;
}

.section {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

input, textarea, button {
  border: none;
  background: none;
}

button {
  outline: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
  font-style: normal;
}

.container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 940px;
  flex: 1;
}

.page-title {
  line-height: 0.9;
  font-size: rem(60px);
  font-weight: bold;
  text-transform: uppercase;
  @include phones {
    font-size: 46px;
    margin-bottom: rem(20px);
  }
}

.section-title {
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
}

.section-title--white {
  color: white;
}