.burger-menu {
  display: none;
  width: rem(25px);
  height: rem(25px);
  flex-direction: column;
  justify-content: space-between;
  @include tablets {
    display: flex;
    z-index: 11;
  }
}

.nav__active ~ .burger-menu {
  display: none;
}

.burger-menu__line {
  background-color: white;
  height: rem(4px);
  width: 100%;
  border-radius: 5px;
}