.hero {
  position: relative;
  background-color: $blue;
  color: white;
}

.hero__container {
  padding-top: rem(24px);
  padding-bottom: rem(48px);
  justify-content: space-between;
  align-items: flex-start;

  @include tablets {
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
  }
}

.hero__bars {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero__decor {
  max-width: 55%;
  position: absolute;
  &--fern {
    right: 0;
    bottom: 0;
    @include tablets {
      transform: translateY(-68%);
    }
  }
  &--bars {
    height: 50%;
    top: 0;
    right: 0;
    transform: translateY(20%);
    @include tablets {
      width: 60%;
      right: 10%;
      top: 50%;
      transform: translate(-26%,-85%);
    }
    @include phones {
    width: 70%;
    }
  }
}

.hero__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
  @include tablets {
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2.4rem;
  }
  @include phones {
    width: 80%;
  }
}

.hero__info-text {
  font-size: rem(21px);
  width: 68%;
  margin-bottom: 1.8rem;
}

.hero__features {
  display: flex;
  font-size: rem(16px);
  width: 51%;
  @include tablets {
    width: 72%;
  }
  @include phones {
    width: 100%;
  }
}

.hero__features-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hero__features-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
  @include tablets {
    justify-content: center;
  }  
  @include phones {
    width: rem(138px);
  }
}

.hero__features-icon {
  width: rem(45px);
  margin-right: rem(9px);
}

.hero__features-pic {
  fill:none;
  stroke:white;
  stroke-width:0.5;
  stroke-miterlimit:10;
}

.hero__features-title {
  max-width: 50%;
}

.fern__image,.bars__image {
  max-width: 100%;
}
