.logo,.logo__text {
  width: rem(55px);
  font-family: 'Museo';
  font-size: rem(24px);
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 2.5rem;
  line-height: 0.9;
}