.logo,.logo__text {
  width: 2.88rem;
  font-family: 'Museo';
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 2.5rem;
}