.menu {
  position: relative;
  background-image: url(/Chocco/images/background/menu.jpg);
  background-size: cover;
  background-position: center center;
  z-index: -20;
}


.menu:after {
  top: 0;
  left: 0;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(201,202,204,0.6);
  z-index: -10;
}

.menu__container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
}

.menu__left {
  width: 27%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu__left {
  padding-top: rem(95px);
  height: 100%;
}

.menu__right {
  width: 73%;
  height: 100%;
  @include tablets {
    position: absolute;
    width: 100%;
  }
}

.menu__list {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  @include phones {
    position: relative;
  }
}

.menu__item {
  display: flex;
}

.menu__item--active {
  width: 57%;
  @include phones {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
}

.menu__title {
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  align-items: center;
  background-position: center top;
  background-size: cover;
  height: 100%;
  min-width: rem(101px);
}

.menu__title-name {
  position: relative;
  writing-mode: tb;
  transform: rotate(-180deg);
  color: white;
  font-size: rem(48px);
  font-weight: 500;
  z-index: 10;
}
@each $menu-background in (coconut,honey,berries)  {
  .menu__title--#{$menu-background} {
    background-image: url(/Chocco/images/background/#{$menu-background}.jpg);
  }
}

.menu__desc {
  display: none;
  padding: rem(50px) rem(120px) rem(50px) rem(25px);
  font-size: rem(16px);
  @include tablets {
    padding: rem(65px) rem(130px) rem(65px) rem(30px);
  }
  @include phones {
    padding: rem(65px) rem(48px) rem(65px) rem(30px);
  }
}

.menu__item--active {
  flex: 1;
}

.menu__item--active .menu__desc {
  position: relative;
  display: flex;
  z-index: 10;
  color: white;
}


.menu__desc:after {
  content: '';
  background-color: #393c3e;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .9;
  z-index: -1;
}