.menu {
  position: relative;
  background-image: url(/Chocco/images/background/menu.jpg);
  background-size: cover;
  background-position: center center;
  z-index: -20;
}


.menu:after {
  top: 0;
  left: 0;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .1;
  z-index: -10;
}

.menu__container {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
}

.menu__left {
  width: 27%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: rem(95px);
}

.menu__right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  justify-content: flex-end;
  @include tablets {
    position: absolute;
    width: 100%;
  }
}

.menu__list {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  @include phones {
    width: 100%;
  }
}

.menu__item {
  display: flex;
  height: 100%;
  transition: all .7s ease;
}

.menu__item--active {
  transition: all .7s ease;
  position: absolute;
  z-index: 25;
}


.menu__title {
  display: block;
  width: rem(100px);
  @include phones {
    width: rem(80px);
  }
}

.menu__desc {
  font-size: rem(16px);
  width: 0;
  overflow: hidden;
  font-size: rem(16px);
  color: white;
  background-color: #393c3e;
  opacity: .9;
  height: 100%;
}

.menu__desc p {  
  padding: rem(50px) rem(100px) rem(50px) rem(25px);
  @include tablets {
    padding: rem(65px) rem(80px) rem(65px) rem(30px);
  }
  @include phones {
    padding: rem(65px) rem(48px) rem(65px) rem(30px);
  }
}


.menu__item--active > .menu__desc  {
  width: auto;
  transition: all .6s;
}

.menu__title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-decoration: none;
  font-size: rem(48px);
  font-weight: 500;
}

.menu__title:after {
  top: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #393c3e;
  opacity: .5;
}

@each $menu-background in (coconut,honey,berries)  {
  .menu__title--#{$menu-background} {
    background-image: url(/Chocco/images/background/#{$menu-background}.jpg);
  }
}

.menu__title-name {
  display: flex;
  white-space: nowrap;
  transform: rotate(-90deg);
  z-index: 20;
}