.player__wrapper {
  display: flex;
  flex-direction: column;
  width: rem(660px);
  height: rem(410px);
  @include tablets {
    width: 82%;
    height: rem(370px);
  }
  @include phones {
    width: 85%;
  }
}

.player__video {
  width: 100%;
  height: 90%;
  position: relative;
  cursor: pointer;
}

.player__start,
.player__sound-button {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.player__start--big {
  position: absolute;
  top: 38%;
  right: 42%;
  width: rem(86px);
  height: rem(118px);
  background-image: url(/Chocco/images/icons/play-button.png);
  z-index: 20;
}

.player__start--big-pause {
  opacity: 0;
}

.player__video-vid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.player__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/Chocco/images/background/honey.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.player__overlay--hidden {
  display: none;
}

.player__controls {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  height: 36px;
  background-color: #3e3e3e;
}

.player__start--small {
  position: static;
  width: rem(17px);
  height: rem(22px);
  background-image: url(/Chocco/images/icons/play-button--gray.png);
  background-repeat: no-repeat;
  margin-right: rem(20px);
}

.player__start--small-pause {
  background-image: none;
  position: relative;
  height: rem(15px);
}

.player__start--small-pause:before,
.player__start--small-pause:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: #626262;
}

.player__start--small-pause:after {
  left: 40%;
}

.player__progress {
  position: relative;
  height: 4px;
  background-color: #626262;
}

.player__progress--video {
  width: 448px;
  cursor: pointer;
  margin-right: 45px;
  @include tablets {
    width: 398px;
  }
  @include phones {
    width: 265px;
  }
}

.player__progress--sound {
  width: 58px;
  @include tablets {
    width: 52px;
  }
  @include phones {
    width: 35px;
  }
}

.player__sound {
  display: flex;
  align-items: center;
}

.player__sound-button {
  width: 17px;
  height: 22px;
  background-image: url(/Chocco/images/icons/player-volume.png);
  margin-right: 20px;
  background-size: cover;
}

.player__scrollbutton {
  position: absolute;
  top: 0;
  transform: translateY(-35%);
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #626262;
}