.socials {
  display: flex;
}

.socials__item {
  margin-right: rem(20px);
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link:hover > .socials__icon {
  fill: black;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #B3B3B3;
  object-fit: cover;
} 