
.team .section-title {
  margin-bottom: 3.33rem;
}

.team__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include tablets {
    padding: 0 17%;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
  }
  @include phones {
    padding: 0 7%;
  }
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablets {
    max-width: rem(224px);
  }
  @include phones {
    max-width: rem(168px);
    margin-right: 0;
  }
}

.team__item:nth-child(2n) {
  @include tablets {
    margin-right: 0;
  }
}

.team__item:last-child {
  margin-right: 0;
}

.team__photo {
  margin-bottom: rem(20px);
  width: rem(220px);
  height: rem(290px);
  @include tablets {
    width: rem(224px);
    height: rem(290px);
  }
  @include phones {
    width: rem(145px);
    height: rem(185px);
  }
}

.team__photo-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__name {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.16rem;
  font-weight: 500;
  margin-bottom: 1rem;
  cursor: pointer;
}

.team__name:after {
  content: "";
  border: 0.3rem solid transparent;
  border-top-color: $green;
  margin-left: 0.3rem;
  cursor: pointer;
  align-self: center;
  transition: .7s;
}

.team__item--active .team__name:after {
  transform: rotate(180deg);
}

.team__info {
  display: flex;
  max-height: 0;
  overflow: hidden;
  flex-direction: column;
  text-align: center;
  transition: all .4s;
  max-width: rem(242px);
  margin-bottom: rem(30px);
}

.team__item--active .team__info  {
  height: auto;
  max-height: rem(60px);
}

.team__position {
  margin-bottom: 0.5rem;
}

.team__text {
  font-size: 0.95rem ;
  font-weight: 300;
}

.team__decor {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(50%);
  @include tablets {
    width: rem(77px);
  }
}

.team__decor-image {
  width: 100%;
}